.App {
  text-align: center;
  padding: 20px 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 400px;
  width: 80%;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
