@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.navigation-arrow {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24pt;
}

.navigation-arrow a {
  color: #444;
}
.navigation-arrow a:hover {
  color: #222;
}

.greyed-out {
  color: #ccc;
}
